@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(252, 247, 254, 1) 54%, rgba(223, 160, 237, 1) 84%);
    min-height: 100vh;
    font-size:  larger;
}